<h1>收費</h1>

<ul>
  <li><%= link_to '方案 A 100 塊', plan_path(id: 'a') %></li>
  <li><%= link_to '方案 B 500 塊', plan_path(id: 'b') %></li>
  <li><%= link_to '方案 C 1000 塊', plan_path(id: 'c') %></li>
</ul>
