.resume-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  .resume-card {
    background-color: antiquewhite;
    padding: 10px;

    header {
      .cover {
        img {
          width: 100%;
        }
      }
    }

    .info {
      .basic-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .username {
          font-size: medium;
        }

        .location {
        }
      }

      .intro {
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .update-time {
      }
      .functions {
      }
    }
  }
}
